*{
  font-family: 'Roboto', sans-serif;
}

body
{
  margin: 0;
}

h1
{
  font-family: 'Shrikhand', cursive; 
  background-color: white; 
  text-align: center;
  margin-bottom: 4px;
}

#img-restau
{
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: absolute;
}

a
{
  text-decoration: none;
  color: black;
}

.container-menu
{
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  position: relative;
  top: 237px;
}

.nom-restaurant
{
  font-family: 'Shrikhand', cursive;
  position: relative;
  font-size: 26px; 
  padding-left: 20px; 
}

.fa-heart-o
{
  position: absolute;
  right: 10%;
  top: 2%; 
  font-size: 25px; 
}

.type-repas
{
  font-weight: lighter;
  padding-left: 20px;
  font-size: 16px;
  border-bottom: 3px solid #99e2d0;
  width: 19px; 
}



.prix
{
  position: absolute;
  right: 10%;
  top: 30px;
  font-weight: bold;
}

.item-plat
{
  position: relative;
  background-color: white;
  /* display: flex;
  flex-direction: row; */
  border-radius: 18px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 15px;
  padding-left: 10px;
  box-shadow: 3px 5px 15px rgb(202, 198, 198);
  line-height: 0.6;
}

.plat
{
  font-weight: bold;
  font-size: 17px;
}

.saveur
{
  font-weight: lighter;
  font-size: 15px;
}














#commander
{
  color: white;
  border: 0;
  background: linear-gradient(to bottom right, #FF79DA , #9356DC);
  border-radius: 25px;
  padding: 13px;
  cursor: pointer;
  box-shadow: 3px 5px 15px rgb(202, 198, 198);
  margin-bottom: 55px;
  width: 55%;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 15px;
}

input[type="submit"]
{
  margin-left: 22%;
  margin-top: 25px;
}

footer
{
  background-color: #353535;
  padding-left: 20px;
  padding-bottom: 30px;
  position: relative;
  top: 222px;
}

.footer-logo, nav a, .fa-utensils, .fa-handshake
{
  color: white;
  font-size: 15px;
}

.footer-logo
{
  font-family: 'Shrikhand', cursive;
  padding-top: 20px;
} 

.footer-link
{
  line-height: 1.8;
  font-size: 13px;
}

