/* Mobile first - version par défaut */

*{
  font-family: 'Roboto', sans-serif;
}

body
{
  margin: 0;
}

h1
{
  font-family: 'Shrikhand', cursive; 
  background-color: white; 
  text-align: center;
  margin-bottom: 4px;
}

.fa-arrow-left
{
  font-size: 20px;
  position: absolute;
  top: 38px;
  left: 61px;
}

#img-restau
{
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: absolute;
}

a
{
  text-decoration: none;
  color: black;
}

.container-menu
{
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  position: relative;
  top: 237px;
}

.nom-restaurant
{
  font-family: 'Shrikhand', cursive;
  position: relative;
  font-size: 26px; 
  padding-left: 20px; 
}

.fa-heart
{
  position: absolute;
  right: 10%;
  top: 2%; 
  font-size: 25px;
  color: transparent;
  -webkit-text-stroke: 2px black;
}

.type-repas
{
  font-weight: lighter;
  padding-left: 20px;
  font-size: 16px;
  width: 19px; 
  margin-bottom: 6px;
}


hr
{
  background-color: #99e2d0;
  height: 3px;
  width: 40px;
  margin: 0;
  margin-left: 20px;
  border: 0;
  margin-bottom: 15px;
}

.prix
{
  position: absolute;
  right: 10%;
  top: 30px;
  font-weight: bold;
}

.item-plat1, .item-plat2, .item-plat3
{
  position: relative;
  background-color: white;
  border-radius: 18px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 15px;
  padding-left: 10px;
  box-shadow: 3px 5px 15px rgb(202, 198, 198);
  line-height: 0.6;
  cursor: pointer;
  animation: apparition-plat 2s ease;
}

.item-plat1 
{
  animation-name: apparition-plat;
  animation-duration: 2s;
  animation-delay: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.item-plat2
{
  animation-name: apparition-plat;
  animation-duration: 2s;
	animation-delay: 0.9s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.item-plat3
{
  animation-name: apparition-plat;
  animation-duration: 2s;
	animation-delay: 1.6s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.element2 /* effet qui monte sur groupe de plat */
{
	animation-delay: 2s;
}

.element3
{
	animation-delay: 3s;
}


@keyframes apparition-plat
{
  0%
  {
    opacity: 0;
    transform: translateY(50%);
  }

  30%
  {
    opacity: 0;
  }

  100%
  {
    opacity: 1;
  }
}

.info-check{
	background-color: #99e2d0;
	border-radius: 0 18px 18px 0;
	color: white;
	visibility: hidden;
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 71px;
	bottom: 0;
	margin: 0;
}

.item-plat1:hover .info-check, .item-plat2:hover .info-check, .item-plat3:hover .info-check
{
	animation: slidefromright 0.7s both;
}

.item-plat1:hover .prix, .item-plat2:hover .prix, .item-plat3:hover .prix
{
  animation: slidefromright 0.7s;
  animation-fill-mode: forwards;
}


@keyframes slidefromright {
  0% {
    width: 0%;
  }
  100% {
    visibility: visible;
    width: 75px;
  }
}

.item-plat1:hover i, .item-plat2:hover i, .item-plat3:hover i
{
	animation: tourne 0.8s ease;
}

@keyframes tourne {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fa-check-circle /* ::after - état initial + transitions */
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 92%;
  left: 50%;
  bottom: 0%;
  height: 69px;
  width: 0%;
  font-size: 20px;
  border-radius: 0 18px 18px 0;
  transform: translateX(0);
  transition: width 0.5s, transform 0.5s ease-in-out;
}

.item-plat1:hover .fa-check-circle, .item-plat2:hover .fa-check-circle, .item-plat3:hover .fa-check-circle /*  - rotate /* état final précisant uniquement les propriétés qui changent */
{
  width: 8%;
}


.plat
{
  font-weight: bold;
  font-size: 17px;
  width: 45%;
  border: 1px solid transparent;
  padding-top: 3px;
  padding-bottom: 5px;
  margin-top: 12px;
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.saveur
{
  font-weight: lighter;
  font-size: 15px;
  width: 40%;
  margin-top: 4px;
  border: 1px solid transparent;
  padding-top: 3px;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#commander
{
  color: white;
  border: 0;
  background: linear-gradient(to bottom right, #FF79DA , #9356DC);
  border-radius: 25px;
  padding: 13px;
  cursor: pointer;
  box-shadow: 3px 5px 15px rgb(202, 198, 198);
  margin-bottom: 55px;
  width: 55%;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 15px;
}

input[type="submit"]
{
  margin-left: 22%;
  margin-top: 25px;
}

footer
{
  background-color: #353535;
  padding-left: 20px;
  padding-bottom: 30px;
  position: relative;
  top: 222px;
}

.footer-logo, nav a, .fa-utensils, .fa-handshake
{
  color: white;
  font-size: 15px;
}

.footer-logo
{
  font-family: 'Shrikhand', cursive;
  padding-top: 20px;
} 

.footer-link
{
  line-height: 1.8;
  font-size: 13px;
}
