/* Mobile first - version par défaut */

*{
  font-family: 'Roboto', sans-serif;
}

body
{
  margin: 0;
  /* margin auto pour centrer ; */
}

/* .accueil
{
  height: 100%;
  width: 100%; /* enlever si cela créé un scroll gauche droite 
} */

#loader 
{
  position: fixed;
  z-index: 999; /* être sûr que l'élément passe au dessus de tout */
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lettre
{
  font-family: 'Shrikhand', cursive;
  font-size: 80px;
  color: white; /* pour le moment */
  margin-bottom: 150px;
  animation: flash 1.2s linear infinite; /* étape 2 reprise de l'animation qu'on a créée : nom + durée + trajectoire */
}

@keyframes flash /* étape 1 création de l'animation */
{
  0% /* moment de l'animation */
  {
    color: #9356DC;
    text-shadow: 0 0 7 #9356DC;
  }

  25%
  {
    color: #FF79DA;
    text-shadow: 0 0 7 #FF79DA ;
  }

  75%
  {
    color: #99E2D0 ;
    text-shadow: 0 0 7 #99E2D0;
  }

  100%
  {
    color: white;
    text-shadow: none;
  }
}

.lettre:nth-child(1) /* étape optionnelle, application de l'animation sur le premier enfant de .lettre et ainsi de suite */
{
  animation-delay: 0.1s; /* délais de l'animation */
}

.lettre:nth-child(2)
{
  animation-delay: 0.2s;
}

.lettre:nth-child(3)
{
  animation-delay: 0.3s;
}

.lettre:nth-child(4)
{
  animation-delay: 0.4s;
}

.lettre:nth-child(5)
{
  animation-delay: 0.5s;
}

.lettre:nth-child(6)
{
  animation-delay: 0.6s;
}

.lettre:nth-child(7)
{
  animation-delay: 0.7s;
}

.lettre:nth-child(8)
{
  animation-delay: 0.8s;
}




header
{
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1
{
  font-family: 'Shrikhand', cursive; 
  background-color: white; 
}

#reservez
{
  margin-left: 17px;
}

form
{
  border: 1px solid #eaeaea;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: 1px 5px 14px rgb(80 79 79); /* essayer de le mettre sous la bordure top */
}

.fa-map-marker-alt
{
  padding-top: 12px;
}

input[type="text"]
{
  height: 40px;
  padding-left: 20px;
  border: 0;
  background-color: #eaeaea ;
  cursor: pointer;
  
}

::placeholder
{
  color: black;
}

#decouvrez
{
  font-weight: lighter;
  margin-left: 17px;
  font-size: 19px;
}

#explorer
{
  color: white;
  border: 0;
  background: linear-gradient(to bottom right, #FF79DA , #9356DC);
  border-radius: 25px;
  padding: 13px;
  cursor: pointer;
  box-shadow: 3px 5px 15px rgb(202, 198, 198);
  margin-bottom: 20px;
}

#background-color
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}

#container-fonctionnement
{
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  width: 100%;
}

.item-fonct
{
  display: flex;
  flex-direction: row;
  /* width: 93%; */
  border-radius: 18px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 20px;
  justify-content: space-evenly;
  margin-right: 10px;
  box-shadow: 3px 5px 15px rgb(202, 198, 198);
}

.item-fonct:hover
{
  background-color: #f5edff;
  cursor: pointer;
}   

.item-fonct:hover .fa-store /* hover sur l'élément à l'intérieur de l'item en mode :hover*/
{
  color: #9356DC;
}

.item-fonct:hover .fa-mobile 
{
  color: #9356DC;
}

.item-fonct:hover .fa-list-ul
{
  color: #9356DC;
} /* essayer de les mettre ensemble et qu'ils fonctionnent ! */

.choix-fonct
{
  padding-right: 52px;
  font-size: 14px;
  font-weight: bold;
}

.fa-store, .fa-mobile, .fa-list-ul
{
  color: #828282;
  font-size: 16px;
  padding-top: 13px;
}

.chiffre
{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #9356DC;
  padding: 3px;
  color: white;
  font-size: 12px;
  width: 14px;
  margin-bottom: 0;
  margin-left: 12px; 
  position: absolute; 
  left: 0;
}

#container-restaurants
{
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-bottom: 35px;
  width: 100%;
}

.img-menu
{
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  height: 138px;
}

.item-menu
{
  margin-bottom: 15px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  margin-right: 20px;
  box-shadow: 3px 5px 15px rgb(202, 198, 198);
}

a
{
  text-decoration: none;
  color: black;
}

.info-menu
{
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}

.nouveau
{
  color: #139273;
  background-color: #99e2d0;
  position: absolute;
  right: 5%;
  margin-top: 15px;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
}

.lieu
{
  font-weight: lighter;
  margin-top: 0;
  font-size: 14px;
}

h3
{
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: 16px;
}
 h2
 {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 20px;
 }
 
.position-texte-image
{
  display: flex;
}

.fa-heart
{
  position: absolute;
  right: 8%;
  top: 69%;
  padding-top: 13px;
  font-size: 19px;
  bottom: 35px;
  height: 20px;
  color: transparent;
  -webkit-text-stroke: 2px black;
}

.fa-heart:hover 
{
  background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);  
  cursor: pointer;
  border: 0;  
  -webkit-text-stroke: 0;
  -webkit-background-clip: text;
}


footer
{
  background-color: #353535;
  padding-bottom: 30px;
  position: absolute;
  width: 100%;
}

.footer-logo, nav a 
{
  color: white;
  font-size: 15px;
}

.fa-utensils, .fa-handshake
{
  padding-right: 8px;
  font-size: 12px;
}

.footer-logo
{
  padding-left: 20px;
}

.footer-logo
{
  font-family: 'Shrikhand', cursive;
  padding-top: 20px;
} 

.footer-link
{
  line-height: 1.8;
  padding-left: 20px;
}

/* _______ TABLETTE ________ */
@media screen and (min-width: 769px) and (max-width: 992px)
{

  header
  {
    display: block;
  }

  .item-fonct
  {
    margin-left: 23px;
    width: 85%;
    position: relative;
  }

  .choix-fonct
  {
    padding-right: 0;
  }

  .flex-media
   {
     display: flex;
   }

  .chiffre
  {
    left: -3%;
    margin-left: 0;
  }


  .fa-store, .fa-mobile, .fa-list-ul
  {
  padding-left: 13px;
  }

  h2
  {
    text-align: center;
    padding-left: 0;
  }

  .item-menu
  {
    width: 30%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .info-menu
  {
    padding-left: 9px;
  }

  h3 
  {
    font-size: 14px;
  }

  .lieu
  {
    font-size: 12px;
  }

  .fa-heart
  {
    font-size: 15px;
    top: 71%;
  }

  .nouveau
  {
    padding: 6px;
    font-size: 11px;
  }




}

 /* ____ Breakpoint tablette ____ */
 @media screen and (min-width: 960px)
 {
   .chiffre 
   {
     left: 5%;
   }
 
 }

/* _______ DESKTOP _______ */
@media screen and (min-width: 993px)
{

  .item-fonct
  {
    margin-left: 23px;
    width: 85%;
    position: relative;
  }

  .choix-fonct
  {
    padding-right: 0;
  }

  .flex-media
   {
     display: flex;
   }

  .chiffre
  {
    left: -3%;
    margin-left: 0;
  }

  .fa-store, .fa-mobile, .fa-list-ul
  {
  padding-left: 13px;
  }

  h2
  {
    text-align: center;
    padding-left: 0;
  }

  .item-menu
  {
    width: 30%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .info-menu
  {
    padding-left: 9px;
  }

  h3 
  {
    font-size: 14px;
  }

  .lieu
  {
    font-size: 12px;
  }

  .fa-heart
  {
    font-size: 15px;
    top: 71%;
  }

  .nouveau
  {
    padding: 6px;
    font-size: 11px;
  }

}

@media screen and (min-width: 1870px)
{

  .chiffre
  {
    left: -2%;
  }


}