*{
  font-family: 'Roboto', sans-serif;
}

body
{
  margin: 0;
  max-width: 768px;
  /* ajouter margin auto pour centrer */
}

header
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1
{
  font-family: 'Shrikhand', cursive; 
  background-color: white; 
}

#reservez
{
  margin-left: 17px;
}

form
{
  border: 1px solid #eaeaea;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: 2px 0 0 #eaeaea;
}

.fa-map-marker-alt
{
  padding-top: 10px;
}

input[type="text"]
{
  height: 40px;
  padding-left: 20px;
  border: 0;
  background-color: #eaeaea ;
  cursor: pointer;
  
}

::placeholder
{
  color: black;
}

#decouvrez
{
  font-weight: lighter;
  margin-left: 17px;
  font-size: 19px;
}

#explorer
{
  color: white;
  border: 0;
  background: linear-gradient(to bottom right, #FF79DA , #9356DC);
  border-radius: 25px;
  padding: 13px;
  cursor: pointer;
}

#background-color
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}

#container-fonctionnement
{
  display: flex;
  flex-direction: column;
}

h2
{
  margin-left: 17px;
}

.item-fonct
{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  border-radius: 25px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-top: 0;
  justify-content: space-evenly;
}

.item-fonct:hover
{
  background-color: #f5edff;
  cursor: pointer;
}

.choix-fonct
{
  padding-right: 52px;
  font-size: 14px;
}

.fa-store
{
  color: #828282;
  font-size: 16px;
  padding-top: 13px;
}

.fa-store:hover
{
  color: #9356DC;
}

.chiffre
{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #9356DC;
  padding: 3px;
  color: white;
  font-size: 12px;
  width: 14px;
  margin-bottom: 0;
  margin-left: 12px;  
}