*{
  font-family: 'Roboto', sans-serif;
}

body
{
  margin: 0;
  /* ajouter margin auto pour centrer */
}

header
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1
{
  font-family: 'Shrikhand', cursive; 
  background-color: white; 
}

#reservez
{
  margin-left: 17px;
}

form
{
  border: 1px solid #eaeaea;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: 1px 5px 14px rgb(80 79 79); /* essayer de le mettre sous la bordure top */
}

.fa-map-marker-alt
{
  padding-top: 10px;
}

input[type="text"]
{
  height: 40px;
  padding-left: 20px;
  border: 0;
  background-color: #eaeaea ;
  cursor: pointer;
  
}

::placeholder
{
  color: black;
}

#decouvrez
{
  font-weight: lighter;
  margin-left: 17px;
  font-size: 19px;
}

#explorer
{
  color: white;
  border: 0;
  background: linear-gradient(to bottom right, #FF79DA , #9356DC);
  border-radius: 25px;
  padding: 13px;
  cursor: pointer;
  box-shadow: 3px 5px 15px rgb(202, 198, 198);
  margin-bottom: 20px;
}

#background-color
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}

#container-fonctionnement
{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-bottom: 35px;
}

.item-fonct
{
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-top: 0;
  justify-content: space-evenly;
  margin-right: 10px;
  box-shadow: 3px 5px 15px rgb(202, 198, 198);
}

.item-fonct:hover
{
  background-color: #f5edff;
  cursor: pointer;
}   /* inclure hover de l'icone dans hover de l'item */

.fa-store:hover
{
  color: #9356DC;
}

.choix-fonct
{
  padding-right: 52px;
  font-size: 14px;
}

.fa-store, .fa-mobile, .fa-list-ul
{
  color: #828282;
  font-size: 16px;
  padding-top: 13px;
}

.chiffre
{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #9356DC;
  padding: 3px;
  color: white;
  font-size: 12px;
  width: 14px;
  margin-bottom: 0;
  margin-left: 12px; 
  position: absolute; 
  left: 0;
}

#container-restaurants
{
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-left: 20px;
  padding-bottom: 35px;
}

.img-menu
{
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  height: 138px;
}

.item-menu
{
  margin-bottom: 15px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  margin-right: 20px;
  box-shadow: 3px 5px 15px rgb(202, 198, 198);
}

a
{
  text-decoration: none;
  color: black;
}

.info-menu
{
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}

.nouveau
{
  color: #139273;
  background-color: #99e2d0;
  position: absolute;
  right: 5%;
  margin-top: 15px;
  padding: 5px;
  font-size: 11px;
  font-weight: bold;
  border-radius: 2px;
}

.lieu
{
  font-weight: lighter;
  margin-top: 0;
  font-size: 14px;
}

h3
{
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: 16px;
}
 h2
 {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
 }
 
.position-texte-image
{
  display: flex;
}

.fa-heart-o
{
  position: absolute;
  right: 8%;
  top: 69%;
  padding-top: 13px;
  font-size: 19px;
  bottom: 35px;
}

.fa-heart-o:hover /* à revoir */
{
  /*background: linear-gradient(to bottom right, #FF79DA , #9356DC);*/
  cursor: pointer;
  color: pink; /* remplacer par COULEUR DEGRADEE */
  border: 0;
}


footer
{
  background-color: #353535;
  padding-left: 20px;
  padding-bottom: 30px;
}

.footer-logo, nav a, .fa-utensils, .fa-handshake
{
  color: white;
  font-size: 15px;
}

.footer-logo
{
  font-family: 'Shrikhand', cursive;
  padding-top: 20px;
} 

.footer-link
{
  line-height: 1.8;
  font-size: 13px;
}
